:root {
    --color-accent: #008080;
    --color-text: #F5F5F5;
    --color-neutral: #242424;
    --color-background-body: #0A0A0A;
    --color-background-content: #161616;

    --font-family-logo: "Orbitron", monospace;
    --font-family-title: "Hack", monospace;
    --font-family-content: "Roboto Slab", "Roboto", sans-serif;
    --font-family-code: "Hack", "Source Code Variable", "JetBrains Mono", monospace;

    --content-width: 900px;
}

body {
    padding: 0;
    margin: 0;

    font-family: var(--font-family-content);
    color: var(--color-text);

    background-color: var(--color-background-body);
}

* {
    scrollbar-color: var(--color-accent) var(--color-background-body);
    margin: 0;
    padding: 0;
}

*::-webkit-scrollbar-thumb {
    background-color: var(--color-accent);
}

*::-webkit-scrollbar-track {
    background-color: var(--color-background-body);
  }

a {
    color: var(--color-text);
}

a:hover {
    color: var(--color-accent);
    transition: color ease 0.25s;
}

p {
    padding: 0;
    margin: 0;
}

/* Header and Navigation */

.header {
    background-color: var(--color-background-content);
    border-bottom: 3px solid var(--color-neutral);
    height: 45px;
}

.navelement {
    height: 100%;
    max-width: var(--content-width);
    margin: 0 auto;
}

.navlogo {
    font-family: var(--font-family-logo);
    font-weight: bold;
    color: var(--color-accent);
    font-size: 30px;
    text-transform: uppercase;
    text-decoration: none;

    float: left;
    line-height: 45px;
    margin-left: 0.5em;
}

.navbar {
    float: right;
    height: 45px;
    line-height: 45px;
}

.navbar a {
    color: var(--color-text);
    text-decoration: none;
}

.navbar a:hover {
    color: var(--color-accent);
    transition: ease 0.25s;
}

.navseperator {
    color: var(--color-neutral);

    font-family: var(--font-family-title);
    font-weight: bold;
}

@media (max-width: 650px) {

    .navlogo {
        display: none;
    }

    .navbar {
        float: none;
        text-align: center;
    }
}

@media (max-width: 500px) {
    .navseperator {
        display: none;
    }

    .navbar a {
        font-size: 15px;
        font-weight: bold;
        margin: 0 2px;
    }
}

/* Hero section */

.herobackground {
    background-color: teal;
    background: rgba(0, 0, 0, 0.5) url("/img/background_v1.png");
    background-blend-mode: darken;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    box-shadow: inset 0 0 8px rgba(0, 0, 0, 1);
    width: 100%;
    height: 75vh;
}

.herocontainer {
    max-width: var(--content-width);
    margin: 0 auto;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.logotext {
    font-family: var(--font-family-logo);
    font-weight: bold;
    font-size: 4rem;

    display: inline-block;
}

.phonetic {
    font-family: var(--font-family-title);
    font-size: 1rem;
    text-transform: uppercase;
}

.splashlink {
    background-color: var(--color-background-content);
    border: 2px solid var(--color-background-body);
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5);
    border-radius: 2px;
    text-decoration: none;

    margin: 0 0.5em;
    padding: 0.4em 0.8em;
}

/* Preview Sections */

/* Projects */

.contentpreview {
    max-width: var(--content-width);
    background-color: var(--color-background-content);

    margin: 1em auto;
    padding: 2em;

    border-radius: 2px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
}

.contentpreview h2 {
    font-family: var(--font-family-title);
    font-size: 2em;
    font-weight: bold;

    margin-left: 0.2em;
    margin-bottom: 0.5em;
}

.previewcontainer {
    background-color: var(--color-background-body);

    height: 320px;
    margin-top: 1em;
    padding: 1em;

    border-radius: 2px;
    box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.5);

    display: flex;
    gap: 1em;
    overflow-x: auto;
}

.projectpreview {
    background-color: var(--color-accent);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    height: 100%;
    width: 240px;

    border-radius: 2px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);

    display: flex;
    align-items: flex-end;
    flex-shrink: 0;
}

/* Blog */

.previewcontainerblog { 
    background-color: var(--color-background-body);
    margin-top: 1em;
    padding: 1em;

    border-radius: 2px;
    box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.5);

    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

.previewcontainerblog a { 
    text-decoration: none;
}

.blogpostpreview {
    padding: 0.4em 0.6em;
    background-color: var(--color-neutral);
    border-radius: 2px;

    font-size: 1.25em;

    display: flex;
    flex-direction: row;
}

.blogposttitle {
    flex-grow: 1;
}

.blogpostdate {
    color: var(--color-accent);
}

.previewtext {
    background-color: rgba(0, 0, 0, 0.7);

    padding: 0.5em;
}

/* YouTube Preview */

.youtubepreview {
    display: flex;
    gap: 1em;
}

.youtubecontainer {
    flex: 1;
    overflow: hidden;
    position: relative;
    padding-bottom: 30%; /* Aspect Ratio */
    height: 0;
}

.youtubecontainer iframe {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

.videotext {
    flex: 1;
    text-align: center;
}

@media (max-width: 700px) {
    .youtubecontainer {
        display: none;
    }
}

/* Contact Section */

.contactme {
    background-color: var(--color-accent);
    padding: 0.3em 1em;
    margin: 0 auto;
    margin-top: 1em;

    font-size: 30px;
    font-weight: bold;
    text-decoration: none;

    display: block;
    width: fit-content;

    border-radius: 2px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5);
}

.contactme:hover {
    color: var(--color-background-body);
}

/* Footer */

.footer {
    text-align: center;
    height: 1.6em;
    margin-bottom: 0.6em;
}

.footer * {
    display: inline-block;
    color: var(--color-text);
    margin: 0 0.2em;
}

