<div class="footer">
  <span class="footer-item"><a href="https://www.gnu.org/licenses/copyleft.html" class="copyleft" target="_blank" rel="noopener noreferrer">&copy;</a> Servopunk {{ .Site.Lastmod.Year }}</span>
  <span class="footer-separator" aria-hidden="true">//</span>
  <a rel="license noopener noreferrer" target="_blank" href="http://creativecommons.org/licenses/by-sa/4.0/" class="footer-item">CC BY-SA 4.0</a>
  {{ with .OutputFormats.Get "rss" -}}
    <span class="footer-separator" aria-hidden="true">//</span>
    {{ printf `<a href=%q class="footer-item">RSS</a>` .Permalink | safeHTML }}
  {{ end }}
  <span class="footer-separator" aria-hidden="true">//</span>
  <a href="{{ "privacy/" | relURL }}" class="footer-item">Privacy Policy</a>
  <span class="footer-separator" aria-hidden="true">//</span>
  <a href="https://github.com/reogaro/web" target="_blank" rel="noopener noreferrer" class="footer-item">Source Code</a>
  <span class="footer-separator">//</span>
  {{ $emailBase64 := .Site.Params.mail | base64Encode }}
  <a href="#" class="footer-item" data-contact="{{ $emailBase64 }}" onclick="window.location.href='mailto:' + atob(this.getAttribute('data-contact')); return false;">Contact</a>
</div>
