<a href="#main-content" class="skip-link">Skip to main content</a>
<div id="header" class="header">
    <div class="navelement">
        <a href="{{ site.Home.RelPermalink }}" class="navlogo">{{ site.Title }}</a>

        <nav class="navbar" aria-label="Main Navigation">
            <span class="navseperator" aria-hidden="true">[</span>
            <a href="{{ site.Home.RelPermalink }}">HOME</a>
            <span class="navseperator" aria-hidden="true">/</span>
            <a href="{{ "blog/" | relURL }}">BLOG</a>
            <span class="navseperator" aria-hidden="true">/</span>
            <a href="{{ "project/" | relURL }}">PROJECTS</a>
            <span class="navseperator" aria-hidden="true">/</span>
            <a href="{{ "info/" | relURL }}">INFO</a>
            <span class="navseperator" aria-hidden="true">/</span>
            <a href="{{ .Site.Params.youtube }}" target="_blank" rel="noopener noreferrer">YOUTUBE</a>
            <span class="navseperator" aria-hidden="true">]</span>
        </nav>
    </div>
</div>
