{{ define "main" }}
{{ .Content }}

{{- $heroImg := resources.Get "img/background.jpg" -}}
{{- $heroUrl := "/img/background.jpg" -}}
{{- if $heroImg -}}
  {{- $res := site.Params.imaging.herores | default 1920 -}}
  {{- $qual := site.Params.imaging.heroquality | default 85 -}}
  {{- if gt $heroImg.Width $res -}}
    {{- $heroUrl = ($heroImg.Process (printf "resize %dx webp q%d" $res $qual)).RelPermalink -}}
  {{- else -}}
    {{- $heroUrl = ($heroImg.Process (printf "webp q%d" $qual)).RelPermalink -}}
  {{- end -}}
{{- end -}}
<div class="herobackground" style="background-image: url('{{ $heroUrl }}');">
  <div class="herocontainer">
    <div class="herocontent">
      <p class="tagline">{{ .Site.Params.tagline}}</p>
      <h1 class="logotext">{{ .Site.Title }}</h1>
      <br>
      <br>
      <a href="{{ "blog/" | relURL }}" class="splashlink">Blog</a>
      <a href="{{ "project/" | relURL }}" class="splashlink">Projects</a>
      <a href="{{ .Site.Params.youtube }}" class="splashlink" target="_blank" rel="noopener noreferrer">YouTube</a>
    </div>
  </div>
</div>

<div class="contentpreview">
  <h2>Build cool shit...</h2>
  <p>When life gives you lemons, make lemonade. So what do you do if life gives you computers? <br>
    What if life gives you motors with encoders, or tools and gadgets, a knack for tinkering, endless curiosity for the 
    underlying process, a passion for making things be as they weren't meant to be? This blog documents problems I encountered while making stuff, and if I found a solution I'll post them as well.</p>
  <div class="previewcontainerblog">
    {{ range first 4 (where .Site.RegularPages "Section" "blog") }}
    <a href="{{ .RelPermalink }}">
      <div class="blogpostpreview">
        <p class="blogposttitle">{{ .LinkTitle }}</p>
        <p class="blogpostdate">{{ .Date.Format "02.01.2006" }}</p>
      </div>
    </a>
    {{ end }}
    <a href="{{ "blog/" | relURL }}">
      <div class="blogpostpreview">
        <p class="blogposttitle">More Articles</p>
      </div>
    </a>
  </div>
</div>

<div class="contentpreview">
  <h2>...put it on the net.</h2>
    <p>And sometimes, if I forget to hop on to the next one, I might even finish a project. And perhaps, after some time, the documentation resurfaces and gets a dedicated project page on here. <br>
    Armed with a screwdriver, soldering iron and vintage ThinkPad running Arch Linux, you too can 
    build stuff as cool as:</p>
  <div class="previewcontainer">
  {{ range first 3 (where .Site.RegularPages "Section" "project") }}
    {{- $pImg := .Resources.GetMatch .Params.image -}}
    {{- $pImgUrl := printf "%s%s" .Permalink .Params.image -}}
    {{- if $pImg -}}
      {{- if and (eq $pImg.ResourceType "image") (ne $pImg.MediaType.SubType "svg") -}}
        {{- $resT := site.Params.imaging.thumbnailres | default 1000 -}}
        {{- $qualT := site.Params.imaging.thumbnailquality | default 85 -}}
        {{- if gt $pImg.Width $resT -}}
          {{- $pImgUrl = ($pImg.Process (printf "resize %dx webp q%d" $resT $qualT)).RelPermalink -}}
        {{- else -}}
          {{- $pImgUrl = ($pImg.Process (printf "webp q%d" $qualT)).RelPermalink -}}
        {{- end -}}
      {{- end -}}
    {{- end -}}
    <a href="{{ .RelPermalink }}">
      <div class="projectpreview" style="background-image: url('{{ $pImgUrl }}')">
        <div class="previewtext">
          <b>{{ .LinkTitle }}</b>
          <p>{{ .Summary }}</p>
        </div>
      </div>
    </a>
  {{ end }}
    <a href="{{ "project/" | relURL }}">
      {{- $moreProj := resources.Get "img/projects.jpg" -}}
      {{- $moreUrl := "img/projects.jpg" | relURL -}}
      {{- if $moreProj -}}
        {{- $resT := site.Params.imaging.thumbnailres | default 1000 -}}
        {{- $qualT := site.Params.imaging.thumbnailquality | default 85 -}}
        {{- if gt $moreProj.Width $resT -}}
          {{- $moreUrl = ($moreProj.Process (printf "resize %dx webp q%d" $resT $qualT)).RelPermalink -}}
        {{- else -}}
          {{- $moreUrl = ($moreProj.Process (printf "webp q%d" $qualT)).RelPermalink -}}
        {{- end -}}
      {{- end -}}
      <div class="projectpreview" style="background-image: url('{{ $moreUrl }}')">
        <div class="previewtext">
          <b>More Projects</b>
          <p>Even more creations!</p>
        </div>
      </div>
    </a>
  </div>
</div>

<div class="youtubepreview contentpreview">
  <div class="videotext">
    <h2>Video Content</h2>
    <br>
    <p>I also sometimes film videos and post them on YouTube. Video editing is very tedious, so they're not as common.</p>
    <br />
    <br />
    <a href="https://www.youtube.com/@SERVOPUNK" class="splashlink" target="_blank" rel="noopener noreferrer">YouTube</a>
    <br />
  </div>
  <div class="youtubecontainer">
    {{ partial "youtube-privacy.html" (dict "id" "Ngi_fyumi4A" "Page" .) }}
  </div>
</div>

<div class="contentpreviewtr">
  <h2 style="text-align:center;">Send me an e-mail</h2>
  <!-- <p>If you'd like to contact me for some reason - Maybe you're a nigerian prince in need of help,
    or want someone to gift your old <i>Gabelstapler</i> to - use the E-Mail address below.
    Please be patient with your inquiries - Life can get in the way.</p> -->

  {{ $emailBase64 := .Site.Params.mail | base64Encode }}
  <a href="#" class="contactme" data-contact="{{ $emailBase64 }}" onclick="window.location.href='mailto:' + atob(this.getAttribute('data-contact')); return false;">Contact ⇒ </a>
</div>
{{ end }}

