{{ define "main" }}
  <div class="contentpreview">
    <h1>{{ .Title }}</h1>
    <br>
    {{ .Content }}
    <br>
    {{ range .Pages }}
      <a href="{{ .RelPermalink }}">
        <div class="postlisting">
          {{- $lImg := .Resources.GetMatch .Params.image -}}
          {{- $lImgUrl := printf "%s%s" .Permalink .Params.image -}}
          {{- if $lImg -}}
            {{- if reflect.IsImageResourceProcessable $lImg -}}
              {{- $resT := site.Params.imaging.thumbnailres | default 1000 -}}
              {{- $qualT := site.Params.imaging.thumbnailquality | default 85 -}}
              {{- if gt $lImg.Width $resT -}}
                {{- $lImgUrl = ($lImg.Process (printf "resize %dx webp q%d" $resT $qualT)).RelPermalink -}}
              {{- else -}}
                {{- $lImgUrl = ($lImg.Process (printf "webp q%d" $qualT)).RelPermalink -}}
              {{- end -}}
            {{- end -}}
          {{- end -}}
          <div class="pageimg" style="background-image: url('{{ $lImgUrl }}')"></div>
          <div>
            <h2>{{ .LinkTitle }}</h2>
            <p>{{ .Summary }}</p>
          </div>
        </div>
      </a>
    {{ end }}
  </div>
  <div class="gradientbg"></div>
{{ end }}
