{{ define "main" }}
  <div class="contentpreview">
    <h1>{{ .Title }}</h1>
    <br>
    {{ .Content }}
    <br>
    {{ range .Pages }}
      <a href="{{ .RelPermalink }}">
        <div class="postlisting">
          <div class="pageimg" style="background-image: url('{{ .Permalink }}{{ .Params.image }}')"></div>
          <div>
            <h2>{{ .LinkTitle }}</h2>
            <p>{{ .Summary }}</p>
          </div>
        </div>
      </a>
    {{ end }}
  </div>
  <div class="gradientbg"></div>
{{ end }}
