{{ define "main" }}
  <div class="blogpost">
    {{- $bgImage := .Params.image -}}
    {{- $imgResource := .Resources.GetMatch .Params.image -}}
    {{- if $imgResource -}}
      {{- if and (eq $imgResource.ResourceType "image") (ne $imgResource.MediaType.SubType "svg") -}}
        {{- $res := site.Params.imaging.headerres | default 1600 -}}
        {{- $qual := site.Params.imaging.headerquality | default 85 -}}
        {{- $processed := "" -}}
        {{- if gt $imgResource.Width $res -}}
          {{- $processed = $imgResource.Process (printf "resize %dx webp q%d" $res $qual) -}}
        {{- else -}}
          {{- $processed = $imgResource.Process (printf "webp q%d" $qual) -}}
        {{- end -}}
        {{- $bgImage = $processed.RelPermalink -}}
      {{- end -}}
    {{- end -}}
    <div class="blogheader" style="background-image: url('{{ $bgImage }}')">

      {{ $dateMachine := .Date | time.Format "2006-01-02T15:04:05-07:00" }}
      {{ $dateHuman := .Date | time.Format "02.01.2006" }}
      <time datetime="{{ $dateMachine }}">{{ $dateHuman }}</time>

      <h1>{{ .Title }}</h1>

      {{ partial "terms.html" (dict "taxonomy" "tags" "page" .) }}
    </div>

    <div class="postcontent">
      {{ .Content }}
    </div>
  </div>
  <div class="gradientbg"></div>
{{ end }}
