<div id="header" class="header">
    <div class="navelement">
        <a href="/" class="navlogo">{{ site.Title }}</a>

        <div class="navbar">
            <span class="navseperator">[</span>
            <a href="/">HOME</a>
            <span class="navseperator">/</span>
            <a href="{{ .Site.BaseURL }}blog">BLOG</a>
            <span class="navseperator">/</span>
            <a href="{{ .Site.BaseURL }}project">PROJECTS</a>
            <span class="navseperator">/</span>
            <a href="index.html">INFO</a>
            <span class="navseperator">/</span>
            <a href="{{ .Site.Params.youtube }}" target="_blank" rel="noopener noreferrer">YOUTUBE</a>
            <span class="navseperator">]</span>
        </div>
    </div>
</div>
