{{ define "main" }}
{{ .Content }}

<div class="herobackground">
  <div class="herocontainer">
    <div class="herocontent">
      <h3 class="tagline">{{ .Site.Params.tagline}}</h3>
      <h3 class="tagline" style="background-color: red">WARNING: THIS SITE IS WORK IN PROGRESS AND IN PLACES STILL FILLED WITH AI GENERATED PLACEHOLDER SLOP</h3>
      <h1 class="logotext">{{ .Site.Title }}</h1>
      <h2 class="phonetic">{{ .Site.Params.phonetic }}</h2> <br />
      <a href="{{ .Site.BaseURL }}blog/" class="splashlink">Blog</a>
      <a href="{{ .Site.BaseURL }}project/" class="splashlink">Projects</a>
      <a href="{{ .Site.Params.youtube }}" class="splashlink" target="_blank" rel="noopener noreferrer">YouTube</a>
    </div>
  </div>
</div>

<div class="contentpreview">
  <h2>Build cool shit...</h2>
  <p>Making stuff has never been easier. The <a href="https://en.wikipedia.org/wiki/Maker_culture">Maker movement</a>,
    <a href="https://en.wikipedia.org/wiki/Free_and_open-source_software">FOSS</a> and
    <a href="https://en.wikipedia.org/wiki/Hacker_culture">hacker culture</a> have created freely availabe
    ressources that allow individuals today to build things that would have taken teams of people just ten years ago.
  </p>
  <p>This page documents my projects, you can learn from my mistakes and get inspired by my successes.
    Armed with a screwdriver, soldering iron and vintage ThinkPad running arch linux, you too could
    build things such as:</p>

  <div class="previewcontainer">
  {{ range first 3 (where .Site.RegularPages "Section" "project") }}
    <a href="{{ .RelPermalink }}">
      <div class="projectpreview" style="background-image: url('{{ .Permalink }}{{ .Params.image }}')">
        <div class="previewtext">
          <b>{{ .LinkTitle }}</b>
          <p>{{ .Summary }}</p>
        </div>
      </div>
    </a>
  {{ end }}
    <a href="{{ .Site.BaseURL }}project/">
      <div class="projectpreview" style="background-image: url('img/projects.png')">
        <div class="previewtext">
          <b>More Projects</b>
          <p>Even more creations!</p>
        </div>
      </div>
    </a>
  </div>
</div>

<div class="youtubepreview contentpreview">
  <div class="videotext">
    <h2>Video Content</h2>
    <p>I also sometimes film videos and post them on YouTube. I don't enjoy editing as much, so they're pretty rare so
      far.</p>
    <br />
    <br />
    <a href="{{ .Site.Params.youtube }}" class="splashlink" target="_blank" rel="noopener noreferrer">YouTube</a>
    <br />
  </div>
  <div class="youtubecontainer">
    <div class="youtube-player" data-id="Ngi_fyumi4A"></div>
  </div>
</div>

<div class="contentpreview">
  <h2>...put it on the net.</h2>
  <p>And if you want to read more, for example how current projects are coming along, or lessons I learned while
    building, or about failed projects and why they failed - take a look at the blog. It has all that and more. </p>

  <div class="previewcontainerblog">
    {{ range first 4 (where .Site.RegularPages "Section" "blog") }}
    <a href="{{ .RelPermalink }}">
      <div class="blogpostpreview">
        <p class="blogposttitle">{{ .LinkTitle }}</p>
        <p class="blogpostdate">{{ .Date.Format "02.01.2006" }}</p>
      </div>
    </a>
    {{ end }}
    <a href="{{ .Site.BaseURL }}blog/">
      <div class="blogpostpreview">
        <p class="blogposttitle">More Articles</p>
      </div>
    </a>
  </div>
</div>

<div class="contentpreview contactsection">
  <h2>Contact</h2>
  <p>If you'd like to contact me for some reason - Maybe you're a nigerian prince in need of help,
    or want someone to gift your old <i>Gabelstapler</i> to - use the E-Mail address below.
    Please be patient with your inquiries - Life can get in the way.</p>

  <a href="{{ .Site.Params.mail }}" class="contactme">Contact ⇒ </a>
</div>
{{ end }}
